include \..\..\block\button\button
include \..\..\block\button-border\button-border
include \..\..\block\button-arrow\button-arrow
include \..\..\block\radio-button\button-radio
include \..\..\block\checkbox\checkbox
include \..\..\block\like-button\like-button
include \..\..\block\toggle\toggle
include \..\..\block\rate-button\rate-button
include \..\..\block\textfield\textfield
include \..\..\block\dropdown\dropdown
include \..\..\block\information\information
include \..\..\block\rich-checkbox\rich-checkbox
include \..\..\block\bullet-list\bullet-list
include \..\..\block\checkbox-list\checkbox-list
include \..\..\block\range-slider\range-slider
include \..\..\block\comment\comment



doctype html
html
    head
        title UI KIT
    body
        //h1.title UI Kit
        .form-elements
            .form-elements__div-buttons="Buttons"
            .form-elements__div-button
                +button("click me")
            .form-elements__div-button_disabled
                +button("click me")
            .form-elements__div-button-border
                +button-border("click me")
            .form-elements__div-button-border_disabled
                +button-border("click me")
            .form-elements__div-button-content="click me"
            .form-elements__div-button-content_disabled="click me"
            .form-elements__div-button-arrow
                +button-arrow("Перейти к оплате")
            .form-elements__div-radio-buttons="RADIO BUTTONS"
            .form-elements__div-radio-button-1
                +radio-button("radio-1","Мужчина", "group1")
            .form-elements__div-radio-button-2
                +radio-button("radio-2","Женщина", "group1")
            .form-elements__div-checkbox-buttons="Checkbox Buttons"
            .form-elements__div-checkbox-button-1
                +checkbox("checkbox-1", "Можно курить", "group2")
            .form-elements__div-checkbox-button-2
                +checkbox("checkbox-2", "Можно с питомцами", "group2")
            .form-elements__div-checkbox-button-3
                +checkbox("checkbox-3", "Можно пригласить гостей (до 10 человек)", "group2")
            .form-elements__div-like-button="like button"
            .form-elements__div-like-button-1
                +like-button("like-button-1")
            .form-elements__div-like-button-2
                +like-button("like-button-2")
            .form-elements__div-toggle="toggle"
            .form-elements__div-toggle-1
                +toggle('toggle-1', 'Получать спецпредложения')
            .form-elements__div-toggle-2
                +toggle('toggle-2','Получать спецпредложения')
            .form-elements__div-rate-button="rate button"
            .form-elements__div-rate-button-1
                +rate-button('1','1')
            .form-elements__div-rate-button-2
                +rate-button('2','2')
            .form-elements__div-textfield1-content="Text Field"
            .form-elements__div-content-default="default"
            .form-elements__div-texfield1
                +textfield("email-field","Email","email","no")
            .form-elements__div-textfield2-content="Text Field"
            .form-elements__div-content-focus="Hover / Focus"
            .form-elements__div-texfield2
                +textfield("emailsend-field","This is pretty awesome","text","no")

            .form-elements__dropdown-content="dropdown"
            .form-elements__div-content-default2="default"
            .form-elements__div-dropdown1
                +dropdown(['взрослые', 'дети', 'младенцы'])
            .form-elements__div-textfield3-content="masked text field"
            .form-elements__div-content-default3="default"
            .form-elements__div-texfield3
                +textfield("date-field","","text","no")
            .form-elements__div-textfield4-content="subscription text field"
            .form-elements__div-texfield4
                +textfield("email-field-arrow","Email","email","yes")
            .form-elements__dropdown-content2="dropdown"
            .form-elements__div-dropdown2
                +dropdown(['взрослые', 'дети', 'младенцы'])
            .form-elements__dropdown-content3="dropdown"
            .form-elements__div-dropdown3
                +dropdown(['взрослые', 'дети', 'младенцы'])
            .form-elements__dropdown-content4="dropdown"
            .form-elements__dropdown-content-default="default"
            .form-elements__div-dropdown4
                +dropdown(['спальни', 'кровати', 'ванные комнаты'])
            .form-elements__dropdown-content5="dropdown"
            .form-elements__dropdown-content-expanded="expanded"
            .form-elements__div-dropdown5
                +dropdown(['спальни', 'кровати', 'ванные комнаты'])
            .form-elements__information1
                +information("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
            .form-elements__information2
                +information("location_city","Удобство","Окно в каждой из спален")
            .form-elements__rich-checkbox-content="rich Checkbox Buttons"
            .form-elements__div-rich-checkbox1
                +rich-checkbox("Широкий коридор","Ширина коридоров в номере не менее 91 см.","rich-checkbox1","group3")
            .form-elements__div-rich-checkbox2
                +rich-checkbox("Помощник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера.","rich-checkbox2","group3")
            .form-elements__bullet-list-content="bullet list"
            .form-elements__bullet-list
                +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
            .form-elements__expandable-checkbox-list1
                +checkbox-list(['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Кроватка', 'Шампунь', 'Кроватка', 'Шампунь'])
            .form-elements__expandable-checkbox-list2
                +checkbox-list(['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Кроватка', 'Шампунь', 'Кроватка', 'Шампунь'])
            .form-elements__div-range-slider-content="Range Slider"
            .form-elements__div-range-slider
                +range-slider()
            .form-elements__div-comment
                +comment("Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей")
