mixin room-information(number, luxe,price)
    .room-information
        .room-information-number-sign="№ "
        .room-information-number=number
        .room-information-room=luxe
        .room-information-price-number=price+"₽"
        .room-information-interval="в сутки"